@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 270 14% 94%;
    --foreground: 285 10% 20%;
    --card: 0 0% 100%;
    --card-foreground: 285 10% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 285 10% 20%;
    --primary: 285 35% 35%;
    --primary-foreground: 285 20% 95%;
    --secondary: 285 20% 88%;
    --secondary-foreground: 285 35% 35%;
    --muted: 285 15% 90%;
    --muted-foreground: 285 10% 45%;
    --accent: 328 66% 46%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 285 10% 85%;
    --input: 0 0% 100%;
    --ring: 328 66% 46%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 285 35% 15%;
    --foreground: 285 10% 80%;
    --card: 285 35% 20%;
    --card-foreground: 285 10% 80%;
    --popover: 285 35% 10%;
    --popover-foreground: 285 10% 80%;
    --primary: 285 30% 70%;
    --primary-foreground: 285 35% 15%;
    --secondary: 285 20% 30%;
    --secondary-foreground: 285 30% 80%;
    --muted: 285 20% 25%;
    --muted-foreground: 285 10% 60%;
    --accent: 328 66% 56%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 285 20% 30%;
    --input: 285 20% 30%;
    --ring: 328 66% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
