@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 270 50% 98%;
    --foreground: 270 40% 10%;
    --card: 270 50% 100%;
    --card-foreground: 270 40% 10%;
    --popover: 270 50% 100%;
    --popover-foreground: 270 40% 10%;
    --primary: 270 41% 30%;
    --primary-foreground: 270 40% 98%;
    --secondary: 270 40% 94%;
    --secondary-foreground: 270 41% 30%;
    --muted: 270 40% 90%;
    --muted-foreground: 270 40% 40%;
    --accent: 45 80% 55%;
    --accent-foreground: 270 40% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 270 40% 88%;
    --input: 270 40% 92%;
    --ring: 270 41% 30%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 270 41% 12%;
    --foreground: 270 40% 90%;
    --card: 270 40% 16%;
    --card-foreground: 270 40% 90%;
    --popover: 270 40% 12%;
    --popover-foreground: 270 40% 90%;
    --primary: 270 50% 80%;
    --primary-foreground: 270 40% 10%;
    --secondary: 270 40% 22%;
    --secondary-foreground: 270 50% 80%;
    --muted: 270 40% 25%;
    --muted-foreground: 270 40% 60%;
    --accent: 45 70% 60%;
    --accent-foreground: 270 40% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 270 40% 28%;
    --input: 270 40% 20%;
    --ring: 270 50% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
